:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}
.cont {
  max-width: 600px;
  margin: 20px auto;
  padding: 0px 10px;
}
h1 {
  text-align: center;
  margin-top: 5px;
}
.top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.top button {
  border-radius: 10px;
  width: 100px;
  color: white;
  padding: 5px;
  cursor: pointer;
  border: 1px solid grey;
  transition: all 0.3s linear;
}

input {
  border: none;
  outline: none;
  width: 100%;
  padding: 13px;
  font-size: 15px;
  border-bottom: 1px solid black;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.todo {
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(66, 66, 66);
}
.icon {
  cursor: pointer;
}
.small-container {
  max-width: 600px !important;
}
.form:focus {
  border: 1px solid black !important;
  outline-color: none !important;
  box-shadow: none !important;
}
